<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Address-Demo</title>
        <link
            href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <style>
            .table {
                display: table;
                border-collapse: collapse;
                text-align: center;
            }
            .table-row {
                display: table-row;
            }
            .table-cell {
                display: table-cell;
                border: 1px solid #ccc;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="address-container">
                <h2>地址填写</h2>
                <textarea
                    class="form-control"
                    rows="20"
                    v-model="addressText"
                ></textarea>
                <!-- <button
                            v-show="canExport"
                            @click="downloadExl"
                        ></button> -->
                <!-- <div class="table" v-show="addressTable.length>0">
                            <div class="table-row">
                                <div class="table-cell">序号</div>
                                <div class="table-cell">姓名</div>
                                <div class="table-cell">联系电话</div>
                                <div class="table-cell">收货地址</div>
                            </div>
                            <div
                                class="table-row"
                                v-for="(item,index) in addressTable"
                                :key="index"
                            >
                                <div class="table-cell">{{ item.index }}</div>
                                <div class="table-cell">{{ item.name }}</div>
                                <div class="table-cell">{{ item.phone }}</div>
                                <div class="table-cell">{{ item.address }}</div>
                            </div>
                        </div> -->
                <button @click="downloadTable">下载</button>
                <table class="table" id="table">
                    <tr>
                        <td colspan="14">可可鲜橙订单表</td>
                    </tr>
                    <tr>
                        <td>序号</td>
                        <td>寄件人</td>
                        <td>寄件电话</td>
                        <td>寄件地址</td>
                        <td>收件人</td>
                        <td>收件电话</td>
                        <td>规格</td>
                        <td>收件人详细地址</td>
                        <td>果种</td>
                        <td>价格</td>
                        <td>重量</td>
                        <td>备注</td>
                        <td>发货</td>
                        <td>货运方式</td>
                    </tr>
                    <tr v-for="(rowItem,index) in dataList" :key="index">
                        <td>{{ rowItem.index }}</td>
                        <td>可可鲜橙</td>
                        <td>13790151805</td>
                        <td>江西省赣州市会昌县晓龙乡桂林村</td>
                        <td>{{ rowItem.aName }}</td>
                        <td>{{ rowItem.aPhone }}</td>
                        <td></td>
                        <td>{{ rowItem.aAddress }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
        <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
        <script src="./js/districts.js"></script>
        <script>
            function formatCity(city) {
                var cityList = [];
                for (var key in city) {
                    for (var innerKey in city[key]) {
                        cityList.push(city[key][innerKey]);
                    }
                }
                return cityList;
            }
            var cityList = formatCity(city);
            // console.log("TCL: cityList", cityList);
        </script>
        <script>
            var vm = new Vue({
                el: "#app",
                data: {
                    addressText:
                        "",
                    canExport: false
                },
                computed: {
                    dataList() {
                        var _this = this;
                        if(this.addressText.indexOf("\n") === -1){
                            return [];
                        }
                        let addressArr = this.addressText
                            .split("\n")
                            .map(item => item.replace(/，|。|\s+/g, ";"));
                        let addressArrTemp = addressArr.map(item => {
                            let itemObj = {};
                            let itemStrArr = item.split(";");
                            itemObj.strArr = itemStrArr;
                            itemStrArr.map(itemStrArrItem => {
                                if (!isNaN(Number(itemStrArrItem))) {
                                    itemObj.aPhone = itemStrArrItem?itemStrArrItem:itemObj.aPhone;
                                } else {
                                    if (
                                        itemStrArrItem.indexOf("省") > -1 ||
                                        itemStrArrItem.indexOf("市") > -1 ||
                                        itemStrArrItem.indexOf("镇") > -1 ||
                                        itemStrArrItem.indexOf("区") > -1
                                    ) {
                                        if (itemStrArrItem.length > 5) {
                                            if (
                                                cityList.find(function(item) {
                                                    return itemStrArrItem.match(
                                                        item
                                                    );
                                                })
                                            ) {
                                                itemObj.aAddress = itemStrArrItem;
                                            } else {
                                                itemObj.aName = itemStrArrItem;
                                            }
                                        } else {
                                            itemObj.aName = itemStrArrItem;
                                        }
                                    } else {
                                        itemObj.aName = itemStrArrItem;
                                    }
                                }
                            });
                            return itemObj;
                        });
                        console.log(addressArrTemp);                        
                        return addressArrTemp.map(function(item,index){
                            item.index = index+1;
                            return item;
                        });
                    }
                },
                methods: {
                    downloadTable: function() {
                        var table = document.getElementById("table");
                        var wb = XLSX.utils.table_to_book(table, {
                            sheet: "test"
                        });
                        return XLSX.writeFile(wb, "test.xlsx");
                    }
                }
            });
        </script>
    </body>
</html>
